/*----Configurações gerais----*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.erro-texto {
  margin-top: 5px;
  font-size: 0.8em;
  text-align: left;
  margin-left: 8px;
  color: var(--cor-erro);
  height: 15px;
}

.minusculo {
  text-transform: lowercase;
}

.maiusculo {
  text-transform: uppercase;
}

.primeira-maiuscula {
  text-transform: capitalize;
}

/***-----link------***/
.link {
  color: var(--cor-texto-branca);
}
.link:hover {
  color: var(--cor-texto-branca);
  text-decoration: none;
}

/***-----link botão------*/
.link-botao {
  color: var(--cor-texto-branca);
  margin: 30px;
  text-decoration: none;
  border: 1px solid ;
  border-radius: 10px;
  padding: 10px;
}

.link-botao:hover {
  color: var(--cor-logo);
  border: 1px solid var(--cor-logo);
}
/*********-------------******/
/*------input animado-------*/

.label-float {
  position: relative;
  padding-top: 3px;
}

.label-float input {
  border: 2px solid transparent;
  color: var(--cor-texto-branca);
  background-color: var(--cor-bg-clara);
  border-radius: 15px;
  letter-spacing: 0.1em;
  outline: none;
  min-width: 250px;
  padding: 20px 20px;
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance: none;
}

.label-float input:focus {
  border: 2px solid var(--cor-padrao);
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  background-color: transparent;
  letter-spacing: 0.1em;
  position: absolute;
  top: calc(40% - 8px);
  left: 15px;
  z-index: 1000;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  padding: 5px;
  box-sizing: border-box;
}

.label-float input:required:invalid+label {
  color: var(--cor-placeholder);
}

.label-float input:focus:required:invalid {
  border: 2px solid var(--cor-erro);
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
  font-size: 13px;
  top: 0;
  color: var(--cor-padrao);
}
/*****--------------------*****/
/*--------Button-----------*/
.botao-sucesso {
  background-color: var(--cor-sucesso);
  padding: 8px 20px;
  border-radius: 10px;
  border: none; 
  color: var(--cor-texto-branca);
  cursor: pointer;
}

.botao-sucesso:hover {
  background-color: var(--cor-sucesso-hover);
}
/*****------------------*****/
/***----botao padrao--------****/
.botao-padrao {
  background-color: var(--cor-padrao);
  padding: 10px 20px;
  border-radius: 10px;
  border: none; 
  color: var(--cor-texto-branca);
  cursor: pointer;
}
.botao-padrao:hover {
  background-color: var(--cor-padrao-hover);
}

.botao-excluir {
  background-color: #df484a;
  border-radius: 10px;
  padding: 5px 5px;
  border: none;
  color: white;
}
/************------------------****************/
/*****Status*****************/
.teste, .ativo, .atrasado, .inativo, .a-vencer {
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: capitalize;
}
.teste {
  background-color: #ccc;
  color: black;
}
.ativo {
  background-color: #369a5d;
}
.atrasado {
  background-color: #ffa83f;
}
.inativo {
  background-color: #df484a;
}
.a-vencer {
  background-color: #ff895f
}
/************------------------****************/